.about {
    background-color: #d0f0c0 ;
    padding-top: 3rem; 
   ;
    
}
.myproject {
  margin-top: 3rem;
}
.jumbotron{
    background-color: #ffffff;
    padding-top: 3rem;
}

.Contact {
    background-color:#d0f0c0 ;
}